.sidenav-container {
    height: 100vh;
    
  }
  
  .sidenav {
    width: 220px;
    background: #DA2C43;
    color: white;
    padding-top: 20px;
  }
  
  .logo {
    text-align: center;
    margin: 0 0 20px;
    font-weight: bold;
  }
  
  .main-content {
    background: #fafafa;
  }
  
  mat-toolbar {
    background-color: #DA2C43 !important;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .content {
    padding: 20px;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }
  
  .dashboard-card {
    background-color: white;
  }

  .mat-divider {
    border-right-color: white;  
  }
  .header-img {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .flexExpand {
    flex: 1 1 auto;
  }

  .logout-lnk {
    &:hover {
      cursor: pointer;
      text-decoration: underline;

    }
  }
