<!-- app.component.html -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-card appearance="outlined">
        <mat-card-content class="header-img"><img src="assets/logo2.png" alt="Logo" height="40" width="180"></mat-card-content>
      </mat-card>
     
      <mat-divider class="mat-divider"></mat-divider>
      <mat-nav-list>
        <app-sidemenu/>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="main-content">
      <mat-toolbar color="warn">
        <h2>Online Blood Bank Portal</h2>
        <span class="flexExpand"></span>
        <span class="logout-lnk" (click)="logOut()">Logout</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  