.table-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 40px auto;
  padding: 24px;
  background-color: #ffffff;
  color: #b30000;
  text-align: center;
}

.request-title {
  color: #b30000;
  font-family: 'Georgia', serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

mat-table {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 16px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
}

mat-header-cell {
  background-color: #b30000;
  font-weight: bold;
}



mat-cell, mat-header-cell {
  padding: 16px;
  text-align: left;
}

.actions-column {
  display: flex;
  gap: 8px;
}

button {
  min-width: 36px;
  color: #b30000;
}

.mat-button {
  background-color: #db2c40;
  color: white;
}
