.menu-header {
    padding-top: 24px;
    text-align: center;
}

.menu-header {
    > h2{
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
    }
   
}

mat-list-item {
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #FF5270 !important; 
      > mat-icon,span {
        color: white !important;
      }
    }
}

