.group-pane {
    border-radius: 25px;
    margin: 2rem;
    width: 50%; 
    height: 50%; 
    background-color: #DA2C43;
    color: white;
    display: table;
    vertical-align: middle;
    padding: 30px;
    text-align: center;
}