body {
  font-family: 'Georgia', Times, serif;

}

.back {
    background-image: url('/assets/background-image.jpg'); /* or your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* ensures full vertical coverage */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-center {
    width: 500px;
    height: 400px;
    background-color: #f1e3e3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
    background-color: #fff;
	  border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
  }
  
  .div-content {
    max-width: 800px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #ac2a2a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .field-label {
    margin: 5px 0 2px 10%;
    font-size: 0.9rem;
    color: #7c2525;
    text-align: left;
    font-weight: 500;
  }
  

  .mat-mdc-card {
    box-shadow: 0 0 10px 1px #00000026 !important;
    border-radius: 1em !important;
  }

  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }
  