<h2 mat-dialog-title>Add New Blood Request</h2>

<mat-dialog-content>
  <form>
    <mat-form-field class="full-width">
      <mat-label>Blood Group</mat-label>
      <mat-select [(ngModel)]="data.bloodGroup" name="bloodGroup" required>
        <mat-option value="A+">A+</mat-option>
        <mat-option value="A-">A-</mat-option>
        <mat-option value="B+">B+</mat-option>
        <mat-option value="B-">B-</mat-option>
        <mat-option value="AB+">AB+</mat-option>
        <mat-option value="AB-">AB-</mat-option>
        <mat-option value="O+">O+</mat-option>
        <mat-option value="O-">O-</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Consumers</mat-label>
      <mat-select [(ngModel)]="selectedConsumer" name="consumerId" required>
        <mat-option *ngFor="let cons of data.consumerList" value="{{cons.id}}:{{cons.name}}">{{cons.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Type</mat-label>
      <input matInput value="DEMAND" name="requestType" readonly>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Units</mat-label>
      <input type="number" matInput [(ngModel)]="data.units" name="units" required>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button class="mat-req-button" (click)="onAdd()">Add</button>
</mat-dialog-actions>
