<h2 mat-dialog-title>Add New Blood Request</h2>

<mat-dialog-content>
  <form>
    <mat-form-field class="full-width">
      <mat-label>Blood Group</mat-label>
      <input matInput [(ngModel)]="data.bloodGroup" name="bloodGroup" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Consumer Name</mat-label>
      <input matInput [(ngModel)]="data.consumerName" name="consumerName" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="data.type" name="type" required>
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="Completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Units</mat-label>
      <input type="number" matInput [(ngModel)]="data.units" name="units" required>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button class="mat-don-button" (click)="onAdd()">Add</button>
</mat-dialog-actions>
