<h2 mat-dialog-title>Add New Consumer</h2>
<mat-dialog-content>
  <form>
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name" name="name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="data.address" name="address">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Aadhar Id</mat-label>
      <input matInput [(ngModel)]="data.aadharId" name="aadharId">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Blood Group</mat-label>
      <mat-select [(ngModel)]="data.bloodGroup" name="bloodGroup" required>
        <mat-option value="A+">A+</mat-option>
        <mat-option value="A-">A-</mat-option>
        <mat-option value="B+">B+</mat-option>
        <mat-option value="B-">B-</mat-option>
        <mat-option value="AB+">AB+</mat-option>
        <mat-option value="AB-">AB-</mat-option>
        <mat-option value="O+">O+</mat-option>
        <mat-option value="O-">O-</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button class="mat-add-button" (click)="onAdd()">Add</button>
</mat-dialog-actions>
